.text{
   position: absolute;
    right: 50%;
    font-size: 3vmax;
    
    height: 3vmax;
}
.top{
   
   
    padding-top: 100px;
   display: flex;
   justify-tracks: center;

}
.stars{
    right: 10%;
    height: 3vmax;
    justify-content: center;
    position: absolute;
   font-size: 3vmax;
   font-family: 'Courier New', Courier, monospace;
}
.paintConteiner{
    width: 70vmax;
    height: 60vmin;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5vw;
}
